/* work sans google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-bg-color: #212831;
  --secondary-bg-color: #383d46;
  --black: #000;
  --white: #fff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--white);
  font-family: "Work Sans", sans-serif;
}

.navbar-toggler {
  background-color: var(--white);
}

/* ------- common style starts ------- */
.my-btn-outline {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .my-btn-outline {
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
  }
}

/* custom margin */
.custom-my {
  margin-block: 3rem;
}
@media only screen and (min-width: 992px) {
  .custom-my {
    margin-block: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .custom-my {
    margin-block: 7rem;
  }
}
/* custom padding */
.custom-py {
  padding-block: 3rem;
}
@media only screen and (min-width: 992px) {
  .custom-py {
    padding-block: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .custom-py {
    padding-block: 6rem;
  }
}
/* ------- common style ends ------- */

/* ------- navbar section style starts ------- */
#nav-container li a {
  color: var(--white);
}

#nav-container .dropdown-menu {
  background-color: var(--secondary-bg-color);
}

#nav-container .dropdown-item:hover {
  background-color: transparent;
}
/* ------- navbar section style ends ------- */

/* ------- banner section style starts ------- */
.banner-img-1 {
  background-image: url(https://img.freepik.com/free-photo/shiny-night-city_1127-8.jpg?t=st=1715628254~exp=1715631854~hmac=284d57db70719421a50064b3a6e20e3d1b5bdbbe9b80d364b5c819ed0dc939eb&w=740);
  height: 90vh;
  background-size: cover;
}
.banner-img-2 {
  background-image: url(https://img.freepik.com/free-photo/cityscape-xiangshan-trail-nighttime-taipei-taiwan_181624-60239.jpg?t=st=1715628345~exp=1715631945~hmac=b1fb723ed22d3dcced2be003f2a1c38cb7d05db8006632b284d4e3e94947e412&w=740);
  height: 90vh;
  background-size: cover;
}
.banner-img-3 {
  background-image: url(https://img.freepik.com/premium-photo/night-city-bangkok_705804-2322.jpg?w=740);
  height: 90vh;
  background-size: cover;
}
/* ------- banner section style ends ------- */

/* ------- commitment section style start ------- */
#commitment {
  background-color: var(--secondary-bg-color);
}
@media only screen and (min-width: 992px) {
  #commitment {
    width: 80%;
    margin-inline: auto;
  }
}
/* ------- commitment section style ends ------- */

/* ------- work section style start ------- */
#work-container {
  background-color: var(--secondary-bg-color);
  padding-block: 3rem;
}

@media only screen and (min-width: 992px) {
  #work-container {
    padding-block: 5rem;
  }
}
/* ------- work section style start ------- */

/* ------- homelessness section style start ------- */
#homelessness-container {
  background-color: var(--white);
  color: var(--black);
  padding-block: 4rem;
}

@media only screen and (min-width: 992px) {
  #homelessness-container {
    padding-block: 7rem;
  }
}
/* ------- homelessness section style ends ------- */

/* ------- success story style starts ------- */
.story-card {
  background-color: var(--secondary-bg-color);
  color: var(--white);
}
/* ------- success story style ends ------- */

/* ------- footer ends ------- */
#footer-container {
  background-color: var(--white);
  color: var(--black);
}

#footer-container ul li a {
  color: var(--black);
  text-decoration: none;
  margin-top: 20px;
}

#footer-container ul li {
  margin-top: 12px;
}

#footer-container h5 {
  color: var(--secondary-bg-color);
}
/* ------- footer style ends ------- */
