#about-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://img.freepik.com/free-photo/investor-calling_1098-14933.jpg?t=st=1716096957~exp=1716100557~hmac=1cfc6159ca4ae6c4c2ade3d25bd86f547cd699cda59d7bdd53b74ed8959c6813&w=740);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
