#design-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://img.freepik.com/free-photo/luxury-pool-villa-spectacular-contemporary-design-digital-art-real-estate-home-house-property-ge_1258-150765.jpg?t=st=1715829735~exp=1715833335~hmac=49b917cc9977d5c01c5429aa13c2a03be9c8f1e4757397d15953d6e186d687aa&w=740);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#construction-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://img.freepik.com/premium-photo/modern-house-architecture-house-exterior-generative-ai_446633-7060.jpg?w=740);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#management-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://img.freepik.com/free-photo/pointing-sketch_1098-14323.jpg?t=st=1715831517~exp=1715835117~hmac=ecb6ccdfa9213d8fdd46ad7c3fd7601ece309c7524de8f964b52d177e7f4ee68&w=740);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#consulting-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://img.freepik.com/free-photo/working-housing-project_1098-17511.jpg?t=st=1715832663~exp=1715836263~hmac=a3274d2fc836a7ce760bc40b689182022ffd65405b348b0bb2c70d535e4cb87e&w=740);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
